body {
    background-color: skyblue;
    box-sizing: border-box;
}

.app-wrapper {
    width: 450px;
    margin: auto;
    margin-top: 150px;
}

.header {
    padding: 10px;
    background-color: blue;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-sizing: border-box;
}

.header-text {
    font-size: 16px;
    text-transform: uppercase;
    color: white;
    font-weight: 500;
    box-sizing: border-box;
}

.header-button {
    width: 20px;
    font-size: 16px;
    font-weight: 800;
    color: white;
    box-sizing: border-box;
    cursor: pointer;
}

#header-add {
    display: block;
}

#header-hide {
    display: none;
}

#newTaskForm {
    width: 100%;
    background-color: #DCDCDC;
    box-sizing: border-box;
    border: none;
    height: 0px;
    overflow: hidden;
    transition: .5s
}

#input {
    width: 100%;
    background-color: #DCDCDC;
    padding: 10px;
    font-size: 16px;
    color: #696969;
    border: none;
    box-sizing: border-box;
}

#input:focus {
    outline: none;
}

#list-item {
    display: flex;
    width: 0px;
    height: 0px;
    flex-direction: row;
    justify-content: flex-start;
    background-color: #DCDCDC;
    transition: .5s;
}

#list-item:nth-child(odd) {
    background-color: whitesmoke;
}

.delete-item {
    width: 0px;
    height: 40px;
    background: url(images/delete.png);
    background-color: firebrick;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
    transition: .5s;
}

.list-item-text {
    width: 100%;
    overflow: hidden;
    align-self: center;
    text-align: left;
    margin-left: 20px;
    color: black;
    cursor: cell;
}